@use "sass:color";

@use "sass:map";

@use "../../definition" as *;

$me: #{$class}__symbol;

#{$me} {

  font-family: "Material Symbols Outlined";

  font-size: 24px;

  font-style: normal;

  font-weight: 400;

  line-height: 1;

  user-select: none;

  text-decoration: none;

  text-transform: none;

  margin-left: auto;

  color: #5d6b98;

  @at-root #{$class} {

    #{$class}__item {

      &:not(#{$class}__item--open) {

        #{$me}--on {

          display: none;

        }

      }

      &#{$class}__item--open {

        #{$me}--off {

          display: none;

        }

      }

    }

  }

}
