@use "sass:color";

@use "sass:map";

@use "../../definition" as *;

$me: #{$class}__content;

#{$me} {

  display: flex;

  flex-direction: column;

  @at-root #{$class} {

    #{$class}__item {

      &:not(#{$class}__item--open) {

        #{$me} {

          display: none;

        }

      }

    }

  }

}
