@use "sass:color";

@use "sass:map";

@use "../../definition" as *;

$me: #{$class}__symbol;

#{$me} {

  font-family: "Material Symbols Outlined";

  font-size: 24px;

  font-style: normal;

  font-weight: 400;

  line-height: 1;

  user-select: none;

  text-decoration: none;

  text-transform: none;

  margin-left: auto;

  color: #ffffff;

  @at-root #{$class} {

    &:not(#{$class}--open) {

      #{$me}--on {

        display: none;

      }

    }

    &#{$class}--open {

      #{$me}--off {

        display: none;

      }

    }

  }

}
