@use "sass:map";

@use "../../../../generic/configuration" as *;

.member {

  position: relative;

}

.member__content {

  width: 100%;

  height: 100%;

}

@media screen and (min-width: 920px) {

  .member__content {

    position: relative;

    overflow: hidden;

  }

}

@media screen and (min-width: 920px) {

  .member__image {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    object-fit: cover;

    width: 100%;

    height: 100%;

    margin: auto;

  }

}

.member__footer {

  position: absolute;

  bottom: 0;

  left: 0;

  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;

  gap: map.get($configuration, "spacing", "lg");

  padding-top: map.get($configuration, "spacing", "3xl");

  padding-right: map.get($configuration, "spacing", "2xl");

  padding-bottom: map.get($configuration, "spacing", "4xl");

  padding-left: map.get($configuration, "spacing", "2xl");

  background-color: rgba(#ffffff, 30%);

  border-top: 1px solid rgba(#ffffff, 30%);

  backdrop-filter: blur(24px);

}

.member__title {

  font-weight: 600;

  font-size: 24px;

  line-height: 32px;

  letter-spacing: 0;

  color: #ffffff;

}

.member__symbol {

  font-family: "Material Symbols Outlined";

  font-size: 24px;

  font-style: normal;

  font-weight: 400;

  line-height: 1;

  user-select: none;

  text-decoration: none;

  text-transform: none;

  color: #ffffff;

}
